.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: unset;
    border-radius: 2rem;
}

.carousel>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 30vw;
    /* margin: 15px; */
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .carousel:hover::-webkit-scrollbar {
    position: relative;
    bottom: 0px;
    height: 1px;
    width: 1px;
} */

/* .carousel:hover {
    transform-origin: top left;
    transform: scale(2.5);
    background: #fff;

} */

@media only screen and (max-width: 718px) {
    .carouselBox {
        min-height: 30vh;
    }

    .carousel>div {
        width: 80vw;
    }
}

::-webkit-scrollbar {
    position: relative;
    bottom: 0px;
    height: 0.1rem;
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.details>* {
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
}


@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');